################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net10.0
/obj
/IdiotProof.UnitTests/bin/Debug/net10.0
/IdiotProof.UnitTests/obj
/bin/Release/net10.0
/IdiotProof.UnitTests/bin/Release/net10.0
